doctype html
html
    head
        meta('charset'='utf-8')
        title= title
        style
            include ../tmp/game.css
    body
        div
            canvas#game('height'='288', 'width'='288')
        p   You are offline! Find the right combination to get online!
        script
            include ../tmp/kontra.js
        script
            include ../tmp/alias.js
        script
            include ../tmp/game.js
