doctype html
html
    head
        meta('charset'='utf-8')
        title= title
        style
            include ../tmp/game.css
    body
        canvas#game('height'='320', 'width'='320')
        script
            include ../tmp/kontra.js
        script
            include ../tmp/alias.js
        script
            include ../tmp/game.js
