body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: silver;
}

#game {
  background-color: #eeeeee;
  cursor: pointer;
}

p {
  margin-inline-start: 2%;
  margin-inline-end: 2%;
}
